footer(role='contentinfo')
  nav(role='navigation')
    a(href='http://andyet.com/about', title='About &yet') About
    a(href='http://kindly.andyet.com', title='How &yet supports the community') Community
    a(href='http://blog.andyet.com', title='&yet Blog') Blog
    a(href='http://twitter.com/andyet', title='Follow &yet on Twitter') @andyet
  a.ampersand-logo(href='http://andyet.com', title='&yet') 
    img(src='/img/ampersand.svg', alt='&yet')
