section
  a(href='http://twitter.com/andyet', class='button button-secondary', title='@andyet') Follow us on Twitter
  button.subToMe.button.button-primary(onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})()", value="Subscribe to RSS feed") Subscribe to RSS feed

section
  a(href='http://humanjavascript.com/', title='Human JavaScript', class='product-logo product-humanjs')
  p Practical patterns for simple but powerful JavaScript apps.

section
  a(href='https://talky.io', title='Talky.io', class='product-logo product-talky')
  p Truly simple video chat and screen sharing for groups. No plugins. No sign up. Anonymous. Peer-to-peer.

section
  a(href='http://andbang.com', title='Andbang', class='product-logo product-andbang')
  p Shared tasks and chat. Same-page-ify your team.
