/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

footer
  padding: 60px 0 40px 0
  text-align: center

  nav

    a
      display: inline-block
      margin: 0 15px
      font-family: $font-gotham

  .ampersand-logo
    margin: 30px 0 0 0
    display: block
    transition: opacity 0.3s ease-in

    &:hover
      opacity: .5
  
    img
      height: 15px
      width: 15px