extends layout

block body
  .content
    section.section-centered.page-error
      figure
        img(src='/img/illustration-404.svg', alt='Page not found')
      h1 404
      p Page not found. But worry not, fellow adventurer and get back to the <a href='http://blog.andyet.com'>home page</a>.
